@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;400;700&display=swap');

* {
    font-family: 'Sono', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*HEADER*/

.shop-header {
    background-color: #1A78C2;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-header-text {
    color: #fff;
    font-size: 48px;
}