<footer class="shop-footer">
    <div class="shop-footer-text">
        Aplikacja sklepu internetowego grupy 2 zrealizowana na zajęciach z przedmiotu Technologie internetowe na kierunku Informatyka w Społecznej Akademii Nauk
    </div>
</footer>

@code {

}
