@page "/"
@inject IFurnitureService Service

<ShopHeader Title="San Ikea Shop"/>
<div class="container">
    <ShopSearchBar UserSelectedCategory="GetFurnituresByCategory"/>
    @if (Furnitures != null)
    {
        <ShopCatalog Furnitures="@Furnitures" />
    }
</div>
<ShopFooter />



@code {

    public List<SimpleFurniture> Furnitures { get; set; }

    protected override void OnInitialized()
    {
        Furnitures = Service.GetPromotedFurniture().ToList();
    }

    private void GetFurnituresByCategory(string[] search)
    {
        var furnitutres = Service.GetAllFurniture().ToList();
        if (!string.IsNullOrEmpty(search[0]))
            furnitutres = Service.GetFurnitureByName(search[0]).ToList();


        if (!string.IsNullOrEmpty(search[1]))
            furnitutres = Service.GetFurnitureByCategory(search[1]).ToList();


        Furnitures = furnitutres;
    }
}