@page "/"
@inject IFurnitureService Service

<ShopHeader Title="San Ikea Shop"/>
<div class="container">
    <ShopSearchBar />
    @if (Furnitures != null)
    {
        <ShopCatalog Furnitures="@Furnitures" />
    }
</div>
<ShopFooter />



@code {

    public List<SimpleFurniture> Furnitures { get; set; }

    protected override void OnInitialized()
    {
        Furnitures = Service.GetPromotedFurniture().ToList();
    }
}